{% extends 'base.html.twig' %}

{% block content %}
    <div class="card w-100">
        <div class="card-body text-center">
            <h1>S{{ start|date("W") }} du {{ start|format_datetime(pattern="EEE d",locale='fr') }}
                au {{ end|format_datetime(pattern="EEE d",locale='fr') }} </h1>

            {% if screen is not null %}
                <img src="{{ path('planning_screen', {"week": screen.week,"year": screen.year}) }}"
                     class="w-100"
                     alt="">


                <p class="text-center">
                    Date d'importation : {{ screen.modifiedDate|date("d/m/Y ~ H:i") }}
                </p>
            {% else %}
                <p class="text-center">Pas d'image :(.</p>
            {% endif %}
            <div class="hstack stack-vcenter stack-center">
                <a href="{{ path('planning_day', {'week': previous|date("W"), 'year': previous|date("Y")}) }}"
                   class="btn btn-blue">
                    <i class="fas fa-arrow-left"></i>
                    Précédent
                </a>
                <a href="{{ path('planning_day', {'week': next|date("W"), 'year': next|date("Y")}) }}"
                   class="btn btn-blue">
                    Suivant
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
{% endblock %}