<nav id="nav-left" class="nav-left">

    <button id="nav-responsive_close">
        <i class="fas fa-times"></i>
        Fermer
    </button>

    <div class="nav-header">
        <div class="nav-header_img">
            {% if current_guild().icon is null %}
                <img src="{{ asset('favicon.png') }}" alt="Favicon">
            {% else %}
                <img src="{{ current_guild_icon() }}" alt="Favicon">
            {% endif %}
        </div>
        <div class="nav-header_content">
            <h1>{{ current_guild().name }}</h1>
            <p>
                <span class="dot-circle"
                      style="background-color: {{ current_user_highest_role(app.user).color|discord_color }}"></span>
                {{ current_user_highest_role(app.user).name }}
            </p>
        </div>
    </div>
    <div class="nav_left-content">
        <a class="menu-item" href="{{ path('index') }}">
            <div class="menu-item_icon"><i class="fas fa-home"></i></div>
            <div class="menu-item_content">Tableau de bord</div>
        </a>
        <a class="menu-item" href="{{ path('work_add') }}">
            <div class="menu-item_icon"><i class="fas fa-plus"></i></div>
            <div class="menu-item_content">Ajouter un devoir</div>
        </a>
        <a class="menu-item" href="{{ path('planning_index') }}" target="_blank">
            <div class="menu-item_icon"><i class="fas fa-calendar-alt"></i></div>
            <div class="menu-item_content">Emplois du temps</div>
        </a>
        {% if is_granted("ROLE_ADMIN_DISCORD") %}
            <a class="menu-item" href="{{ path('config') }}">
                <div class="menu-item_icon"><i class="fas fa-cogs"></i></div>
                <div class="menu-item_content">Configuration</div>
            </a>
        {% endif %}
    </div>
</nav>