{% extends 'base.html.twig' %}

{% block content %}
    <div class="grid2" style="grid-gap: 30px">
        <div class="vstack">
            <div class="hstack stack-vcenter px-2">
                <h2><i class="fas fa-briefcase"></i> Devoirs</h2>
                <div class="stack-spacer"></div>
                <a href="{{ path('work_add') }}" class="btn btn-small">Ajouter</a>
            </div>
            {% for w in works %}
                <div class="card">
                    <div class="card-body">
                        <div class="hstack stack-vcenter">
                            <h3><a href="{{ path('work_edit', {'id': w.id}) }}">{{ w.name }}</a></h3>
                            <span class="text-muted">{{ w.workCategory.name }}</span>
                            <div class="stack-spacer"></div>
                            <span><i class="fa fa-calendar-alt mr-2"></i> {{ w.dueDate|format_datetime(pattern="EEE d MMM HH'h'mm",locale='fr') }}</span>
                        </div>
                        <div class="text-justify">
                            {{ w.description|markdown_to_html }}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Pas de devoirs :(</p>
            {% endfor %}
        </div>
        <div class="vstack">
            <div class="hstack stack-vcenter px-2">
                <h2><i class="fas fa-business-time"></i> Emplois du temps</h2>
            </div>
            {% for i in items %}
                <div class="card mb-5" title="{{ i.description }}">
                    <div class="card-body">
                        <div class="hstack stack-vcenter stack-nowrap">

                            <div class="vstack">
                                <h3>{{ i.title }}</h3>
                                <p class="text-muted">{{ i.location }} - <b>{{ i.teacher }}</b></p>
                            </div>
                            <div class="stack-spacer"></div>
                            <div class="hstack stack-vcenter">

                                <div class="vstack stack-vend">
                                    <span class="text-right"><i class="fa fa-calendar-alt mr-2"></i> {{ i.dateStart|format_datetime(pattern="EEE d MMM",locale='fr') }}</span>
                                    <span class="text-right"> {{ i.dateStart|format_datetime(pattern="HH'h'mm",locale='fr') }} - {{ i.dateEnd|format_datetime(pattern="HH'h'mm",locale='fr') }}</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}